body {
    font-family: Arial;
    background: linear-gradient(135deg, #4f8bff, #9a4fff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.box {
    background: rgba(255, 255, 255, 0.15);
    padding: 25px;
    border-radius: 12px;
    width: 300px;
    backdrop-filter: blur(6px);
    text-align: center;
    display: none;
}

#loginBox {
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background: #00d4ff;
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background: #00b1d4;
}

.link {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.dash {
    background: rgba(255,255,255,0.15);
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    backdrop-filter: blur(6px);
}

.card {
    background: rgba(255,255,255,0.2);
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.warning {
    background: rgba(255,80,80,0.25);
    border: 1px solid rgba(255,80,80,0.6);
}

button.selected {
    background: #ffaa00 !important;
}
